{% extends 'base.html' %}
{% load static %}
{% block title %}
  Корзина товаров
{% endblock %}

{% block content %}
  <h1>Корзина товаров</h1>
  <table class="cart">
    <thead>
      <tr>
      <th>Картинка</th>
      <th>Товар</th>
      <th>Количество</th>
      <th>Удалить</th>
      <th>Цена за 1</th>
      <th>Цена</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart_items %}
        {% with product=item.product %}
          <tr>
            <td>
              <a href="{{ product.get_absolute_url }}">
                <img src="{% if product.image %}{{ product.get_image_300x300.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
              </a>
            </td>
            <td>{{ product.name }}</td>
            <td>
              <form action="{% url "cart:add_product" product.pk %}" method="post">
                {% csrf_token %}
                {{ item.update_quantity.quantity }}
                {{ item.update_quantity.override_quantity }}
                <input type="submit" value="Обновить">
              </form>
            </td>
            <td>
              <form action="{% url "cart:remove_product" product.id %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Удалить">
              </form>
            </td>
            <td class="num">${{ item.price }}</td>
            <td class="num">${{ item.total_price }}</td>
          </tr>
        {% endwith %}
      {% endfor %}
      {% with coupon=cart.get_coupon %}
        {% if coupon %}
          <tr class="subtotal">
            <td>Подытог</td>
            <td colspan="4"></td>
            <td class="num">${{ total_price|floatformat:2 }}</td>
          </tr>
          <tr>
            <td>
              "{{ coupon.code }}" купон
              ({{ coupon.discount }}% скидка)
            </td>
            <td colspan="4"></td>
            <td class="num neg">
            – ${{ discount|floatformat:2 }}
            </td>
          </tr>
        {% endif %}
      {% endwith %}
      <tr class="total">
        <td>Итого</td>
        <td colspan="4"></td>
        <td class="num">${{ total_price_after_discount|floatformat:2 }}</td>
      </tr>
    </tbody>
  </table>
  {% if recommended_products %}
    <div class="recommendations">
    <h3>Вместе с этими товарами покупатели выбирают:</h3>
    {% for product in recommended_products %}
      <div class="item">
        <a href="{{ product.get_absolute_url }}">
          <img src="{% if product.image %}{{ product.get_image_300x300.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
        </a>
        <p><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></p>
      </div>
    {% endfor %}
    </div>
  {% endif %}
  <p>Активировать купон:</p>
  <form action="{% url "coupons:activate" %}" method="post">
    {% csrf_token %}
    {{ coupon_activate_form.code.label }}:
    {{ coupon_activate_form.code }}
    <input type="submit" value="Активировать">
  </form>
  <p class="text-right">
    <a href="{% url "shop:products" %}" class="button light">Товары</a>
    <a href="{% url "orders:create" %}" class="button">
      Сделать заказ
    </a>
  </p>
{% endblock %}