{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
  {{ product.name }}
{% endblock %}

{% block content %}
  <div class="product-detail">
    <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
    <h1>{{ product.name }}</h1>
    <h2>
      <a href="{{ product.category.get_absolute_url }}">
        {{ product.category }}
      </a>
    </h2>
    <p class="price">${{ product.price }}</p>
    <form action="{% url "cart:add_product" product.pk %}" method="post">
      {% csrf_token %}
      {{ form }}
      <input type="submit" value="{% trans "Add to cart" %}">
    </form>
    {{ product.description|safe }}
    {% if recommended_products %}
      <div class="recommendations">
      <h3>{% trans "People who bought this also bought" %}:</h3>
      {% for product in recommended_products %}
        <div class="item">
          <a href="{{ product.get_absolute_url }}">
            <img src="{% if product.image %}{{ product.get_image_300x300.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
          </a>
          <p><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></p>
        </div>
      {% endfor %}
      </div>
    {% endif %}
  </div>
{% endblock %}