{% extends 'base.html' %}
{% load static %}

{% block title %}
  {% if category %}{{ category.name }}{% else %}Интернет магазин{% endif %}
{% endblock %}

{% block content %}
  <div id="sidebar">
    <h3>Категории</h3>
    <ul>
      <li {% if not category %}class="selected"{% endif %}>
        <a href="{% url "shop:products" %}">Все товары</a>
      </li>
      <ul>
        {% for category_loop in categories %}
          <li {% if category_loop.pk == category.pk %}class="selected"{% endif %}>
            <a href="{{ category_loop.get_absolute_url }}">{{ category_loop.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </ul>
  </div>
  <div id="main" class="product-list">
    <h1>
      {% if category %}
        {{ category.name }}
      {% else %}
        Товары
      {% endif %}
    </h1>
    {% for product in products %}
      <div class="item">
        <a href="{{ product.get_absolute_url }}">
          <img src="{% if product.image %}{{ product.get_image_300x300.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
        </a>
        <a href="{{ product.get_absolute_url }}">{{ product.name|truncatewords:"10" }}</a>
        <br>
        ${{ product.price }}
      </div>
    {% endfor %}
  </div>
{% endblock %}