{% extends "base.html" %}
{% load i18n %}

{% block title %}
  {% trans "Checkout" %}
{% endblock %}

{% block content %}
  <h1>{% trans "Checkout" %}</h1>
  <div class="order-info">
    <h3>{% trans "Your order" %}</h3>
    <ul>
      {% for item in cart %}
      <li>
        {{ item.quantity }}x {{ item.product.name }}
        <span>${{ item.total_price }}</span>
      </li>
      {% endfor %}
      {% with coupon=cart.get_coupon %}
        {% if coupon %}
          <li>
          "{{ coupon.code }}" {% trans "coupon" %} ({{ coupon.discount }}% {% trans "discount" %})
          <span class="neg">- ${{ cart.get_discount|floatformat:2 }}</span>
          </li>
        {% endif %}
      {% endwith %}
    </ul>
    <p>{% trans "Total" %}: ${{ cart.get_total_price_after_discount|floatformat:2 }}</p>
  </div>
  <form method="post" class="order-form">
    {% csrf_token %}
    {% for error in form.non_field_errors %}
      {{ error|safe }}
    {% endfor %}
    {% for field in form %}
      <p>
        <label for="id_email">{{ field.label }}</label>
        {{ field }}
        {% for error in field.errors %}
          {{ error|safe }}
        {% endfor %}
      </p>
    {% endfor %}
    <p><input type="submit" value="{% trans "Place order" %}"></p>
  </form>
{% endblock %}